{% extends "base.html" %}

{% block content %}

<h1>Welcome to NewsStream</h1>


<div class="card">
    <h2>Explore NewsStream</h2>

    <p>
        <a href="{% url 'public_article_list' %}">
        View All News
        </a>
    </p>

    <p>
        <a href="{% url 'publishers:public_publisher_list' %}">
            Publisher Directory
        </a>
    </p>

    <p>
        <a href="{% url 'newsletters:newsletter_list' %}">
            Browse Newsletters
        </a>
    </p>
</div>



<p>
    Read the latest approved articles from our publishers and journalists.
</p>


{% for article in articles %}
    <div class="card">
        <h2>{{ article.title }}</h2>

        <p>
            Publisher:
            {{ article.publisher.name }}
        </p>

        <p>
            Category:
            {{ article.category.name }}
        </p>

        <p>
            By {{ article.author.username }}
        </p>

        <p>
            {{ article.content|truncatewords:50 }}
        </p>

        <a href="{% url 'public_article_detail' article.pk %}">
            Read More
        </a>
    </div>
{% empty %}
    <div class="card">
        <p>No approved articles available.</p>
    </div>
{% endfor %}



{% endblock %}