{% extends "base.html" %}

{% block content %}
<h2>{{ article.title }}</h2>

<p>
    {% if article.publisher %}
    {{ article.publisher.name }}
    {% else %}
    Independent
    {% endif %}
</p>

<p>
    Category: {{ article.category }}
</p>

<p>
    Status: {{ article.get_status_display }}
</p>

<p>
    Author: {{ article.author.username }}
</p>

<hr>

<div>
    {{ article.content|linebreaks }}
</div>

<p>
    <a href="{% url 'article_edit' article.id %}">
        Edit Article
    </a>

    <a href="{% url 'article_delete' article.id %}">
        Delete Article
    </a>
</p>

<p>
    <a href="{% url 'article_list' %}">
        Back to Articles
    </a>
</p>
{% endblock %}